Package: com.sushibta.hometa
Name: HomeTA
Version: 0.3.0-rh1
Architecture: iphoneos-arm64e
Description: Native lightweight iOS 27-style CarPlay Home appearance for RootHide.
Maintainer: sushibta25-design
Author: sushibta25-design
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 15.0)
